<%= render :partial => 'shared/header', :locals => { :notes =>  @notes } %>

<strong><%= t('hello') %></strong>

<table>
  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Date</th>
    <th>IVA</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @notes %>
</table>

<br />

<%= link_to 'New Note', new_note_path %>
