<!DOCTYPE html>
<html>
<head>
  <title>CursoRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <h1>Curso de Rails <span>Colima</span></h1>
  </header>
<%= yield %>

  <footer>
    Colima
  </footer>
</body>
</html>
